{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "extends": [
    "airbnb-typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    "no-undef": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
